* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

#canvas {
  border: 1px solid black;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#timer{
  /* background-color: red; */
  width: 100px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "FighterFish";
  font-size: 100px;
  color: red;
}

#whoWon{
  position: absolute; 
  display: none; 
  align-items: center; 
  justify-content: center;
  top: 0; 
  right: 0; 
  left: 0; 
  bottom: 0;
  font-family: "FighterFish";
  font-size: 200px;
  color: white; 
}
#KO {
  position: fixed;          
  top: 11vw;
  left: 60vh;
  width: 40vw;             
  height: 40vh;            

  display: none;            
  mix-blend-mode: screen;
}



#p1Health{
  position: absolute;
  background: rgb(35, 116, 35);
  top: 0; 
  right: 0;
  width: 100%; 
  bottom: 0;
  border-radius: 100px;
  
}
#p2Health{
  position: absolute;
  background: rgb(35, 116, 35);
  top: 0; 
  right: 0;
  left: 0; 
  bottom: 0;
  border-radius: 100px;
}


@font-face{
  font-family: "FighterFish";
  src:url("./GameAssets/FighterFish-3zG53.otf") format("opentype");
}

#p1PFP{
  position: absolute;
  width: 100;
  top: 10;
  left: 10;
}
#p2PFP{
  position: absolute;
  width: 150;
  aspect-ratio: 1/1;
  top: -20;
  right: 0;
  /* mix-blend-mode:darken; */
}
#p1IMG{
  width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
    opacity: 0.7;
}
#p2IMG{
  width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
    /* mix-blend-mode: screen; */
  opacity: 0.7;    
}

#p1Win1,#p1Win2,#p2Win1,#p2Win2{
  position: absolute;
  width: 30;
  aspect-ratio: 1/1;
  border: 2px solid;
  border-radius: 1000px;
  background-color: rgb(150, 150, 150);
}